body {
  font-family: Arial, sans-serif;
  background: #f14c4c;
  padding: 30px;
}

.exemplo {
  width: 300px;
  height: 100px;
  margin-bottom: 20px;
  border: 8px dashed #7c3aed;
  padding: 20px;
  font-size: 1.2em;
  color: #fff;
  background-image: url('../../assets/images/guts-dragon-slayer-3840x2160-13637.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.borda {
  background-origin: border-box;
}

.padding {
  background-origin: padding-box;
}

.conteudo {
  background-origin: content-box;
}