@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
    font-family: Roboto;
    src: local(), url('assets/Fonts/roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face{
    font-family: Roboto;
    src: local(), url('assets/Fonts/roboto/Roboto-Black.ttf');
    font-weight: bold;
}

@font-face{
    font-family: Roboto;
    src: local(), url('assets/Fonts/roboto/Roboto-Thin.ttf');
    font-weight: lighter;
}

*{
    font-family: Roboto;
    font-weight: lighter;
}