div {
  width: 300px;
  height: 300px;
}
#elemento-01 {
  margin: 50px;
  background: orange;
}

#elemento-02 {
  margin-top: 5px;
  margin-left: 25px;
  margin-bottom: 50px;
  background: purple;
}

#elemento-03 {
  margin: auto;
  background: rgb(0, 60, 255);
}
